<p>
<strong>
	<%= @article.title%>
</strong>
</p>
<blockquote>
<p>	
	<%= @article.text%>
</p>
</blockquote>


<hr>

<p>
	<h3>Комментарии</h3>
	<%= render @article.comments %>	
</p>

<h3>Добавить комментарий:</h3>
<%= render 'comments/form' %>

<%= link_to 'Back', articles_path %>
