
<div class='col-md-4'>
	<%= image_tag 'index.svg', class: 'img-thumbnail', alt: 'Крутая авка', width: '90%'%>
	
	<button id="editprofile" type="button" class="btn btn-success" style="margin-top: 10px; width: 90%">Изменить информацию</button>
</div>
<div class='col-md-8'> 
<%#@user.each do |user| 
%>

	<div><%= @user.first_name %></div>
	<div><%= @user.last_name %></div>
	<div><%= @user.patronymic %></div>
<% #end 
%>
</div>

<!-- <div class="simple_form">
<%= simple_form_for @user do |f| %>
  <%= f.input :login %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>
</div> -->


<div id="myModalBox" class="modal fade">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Редактировать профиль</h4>
      </div>
      <!-- Основной текст сообщения -->
      <div class="modal-body">
      	<%= fields_for @user do |u| %>
      		<%= u.text_field :first_name, class: 'form-control',placeholder: 'Имя' %>
      		<%= u.text_field :last_name, class: 'form-control', placeholder: 'Фамилия' %>
      		<%= u.text_field :patronymic, class: 'form-control', placeholder: 'Отчество' %>
      	<% end %>
        <p>Вы хотите сохранить изменения, сделанные в документе перед закрытием?</p>
        <p class="text-warning"><small>Если Вы не сохраните, изменения будут потеряны.</small></p>
      </div>
      <!-- Нижняя часть модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary senddata" 
        		data-link="<%= user_path%>"
        		data-input="#myModalBox">Сохранить изменения</button>
      </div>
    </div>
</div>
