<% @article = Article.new %>
<h1>Hello, Rails!</h1>
<%= @articles.each do |a| %>
<div class="page-header">
        <h2><%= a.title %></h2>
        <p class="lead">
        	<%= link_to a.text, a %>
        </p>
</div>
<% end %>
<%= render 'articles/form'%>
<%= link_to 'New article', new_article_path %>
<span class="glyphicon glyphicon-floppy-open"></span>

<%
=begin select_time(Time.now)%>
<%= select_date(Date.today)%>
<%=time_ago_in_words(3.minutes.from_now)%>
<%=time_select("order", "submitted")
=end%>

<div>
  <%= fields_for @article do |a| %>
    title  : <%= a.text_field :title, :class => 'asd' %>
    text  : <%= a.text_field :text %>
  <% end %>
</div>
<%
=begin
=file_field(:user, :avatar)
=password_field(:login, :pass)
=url_field(:user, :url)
=end%>
