<% @article = Article.new %>
<h1>Hello, Rails!</h1>
<%= @articles.each do |a| %>
	<div><strong>Заголовок: </strong><%= a.title %></div>
	<div><strong>Текст: </strong><%= a.text %></div>
<% end %>
<%= render 'articles/form'%>
<%= link_to 'New article', new_article_path %>
<span class="glyphicon glyphicon-floppy-open"></span>

<%= select_time(Time.now)%>
<%= select_date(Date.today)%>
<%=time_ago_in_words(3.minutes.from_now)%>
<%=time_select("order", "submitted")%>

<div>
  <%= fields_for @article do |a| %>
    title  : <%= a.text_field :title, :class => 'asd' %>
    text  : <%= a.text_field :text %>
  <% end %>
</div>

<%=file_field(:user, :avatar)%>
<%=password_field(:login, :pass)%>
<%=url_field(:user, :url)%>
